REACT_APP_SUPABASE_URL=https://tzncurxizhvfzydhemno.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR6bmN1cnhpemh2Znp5ZGhlbW5vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk1MzcyMDUsImV4cCI6MjA2NTExMzIwNX0.PglWBz1mt8zDavM6Knli8kLrfnuzFJ3ISjSDi8leZgM
SENDGRID_API_KEY=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
MAIL_FROM=ahmed.obaidy12@gmail.com
MAIL_TO=ahmed.obaidy12@gmail.com